<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tuya.smart.android.demo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.tuya.smart.android.personalcenter.TuyaApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:replace="android:theme"
        android:theme="@style/Default_Public_Theme">
        <activity
            android:name="com.tuya.smart.demo_login.base.activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tuya.smart.android.personalcenter.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="tuyasmart_demo_main" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="ekdrktme8ffdfxx7dg7r" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="fgykqr7tawyqqqx8j3ee9fg5wfsx9y38" />
    </application>

</manifest>